.formContainer{
    height: 100vh;
    display: flex;
    flex-direction: column; /*!!!!!!!!!!!*/
     gap: 20px;
    align-items: center;
    justify-content: center;
  }
  .form{
    display: flex;
    gap: 5px;
  }
  .size{
    width: 40px;
  }