* {
  font-family: "JetBrains Mono";
}
.buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
}
button {
  background-color: rgb(168, 168, 168);
  color: rgb(0, 0, 0);
  border: 5px;
  border-width: 5px;
  border-color: black;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  font-size: xx-large;
}
